<!DOCTYPE html>
<html>
  <body style="display:flex;justify-content: center;
    align-items: center;
    flex-direction: column;">
    <table
      border="0"
      cellspacing="0"
      cellpadding="0"
      style="padding-bottom: 20px; max-width: 516px; min-width: 220px"
    >
      <tbody>
        <tr>
          <td width="8" style="width: 8px"></td>
          <td>
            <div
              style="
                border-style: solid;
                border-width: thin;
                border-color: #dadce0;
                border-radius: 8px;
                padding: 40px 20px;
              "
              align="center"
              class="m_4451630447245641526mdv2rw"
            >
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Roche_Logo.svg/1200px-Roche_Logo.svg.png"
                width="100"
                style="margin-bottom: 16px"
                alt="Roche"
              />
              <div
                style="
                  font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica,
                    Arial, sans-serif;
                  border-bottom: thin solid #dadce0;
                  color: rgba(0, 0, 0, 0.87);
                  line-height: 32px;
                  padding-bottom: 24px;
                  text-align: center;
                  word-break: break-word;
                "
              >
                <div style="font-size: 24px">
                  Confirm E-Mail address
                </div>
              </div>
              <div
                style="
                  font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
                  font-size: 14px;
                  color: rgba(0, 0, 0, 0.87);
                  line-height: 20px;
                  padding-top: 20px;
                  text-align: left;
                "
              >
                This E-Mail is for verifying your account at
              <a
                href="https://bau229.ch"
                style="
                  margin: 0;
                  color: #1a73e8;
                  font-family: Roboto, Helvetica, Arial,
                    sans-serif;
                  font-weight: 400;
                  line-height: 24px;
                  margin: 0;
                  padding: 0;
                  text-decoration: none;
                "
                target="_blank"
                >the inofficial Bau 229 website</a
              >. <br>
            </p>
             Please enter the verification code below in the
                                verification page back on the website.
                              </p>
                              <p
                                style="
                                  margin: 0;
                                  margin-bottom: 16px;
                                  color: #3c4043;
                                  font-family: Roboto, Helvetica, Arial,
                                    sans-serif;
                                  font-size: 14px;
                                  font-weight: 400;
                                  line-height: 24px;
                                  margin: 0;
                                  margin-bottom: 16px;
                                  padding: 0;
                                "
                              >
                <div
                  style="
                    text-align: center;
                    font-size: 36px;
                    margin-top: 20px;
                    line-height: 44px;
                  "
                >
                  <p>${verificationCode}</p>
                </div>
                <br />
                This code expires in 24 hours. After that, you must request a
                                new one.<br /><br />
                                 <p
                style="
                  margin: 0;
                  margin-bottom: 16px;
                  color: #3c4043;
                  font-family: Roboto, Helvetica, Arial, sans-serif;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 24px;
                  margin: 0;
                  margin-bottom: 16px;
                  padding: 0;
                "
              >
                Need help? Contact our
                <a
                  href="mailto:ronanski11@outlook.com?subject=Support Request&body=Hello Support Team,"
                  style="
                    margin: 0;
                    color: #1a73e8;
                    font-family: Roboto, Helvetica, Arial, sans-serif;
                    font-weight: 400;
                    line-height: 24px;
                    margin: 0;
                    padding: 0;
                    text-decoration: none;
                  "
                  target="_blank"
                  >Support Team</a
                >
              </p>
              </div>
            </div>
            <div style="text-align: left">
              <div
                style="
                  font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
                  color: rgba(0, 0, 0, 0.54);
                  font-size: 11px;
                  line-height: 18px;
                  padding-top: 12px;
                  text-align: center;
                "
              >
                <div>
                  We sent you this email to let you know about important changes
                  to your Google Account and Google's services.
                </div>
                <div style="direction: ltr">
                 Copyright &copy; 2023 ronanski11. All rights reserved.
                <br />Wurmisweg, 4303, Kaiseraugst Basellandschaft, CH Schweiz
                </div>
              </div>
            </div>
          </td>
          <td width="8" style="width: 8px"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
